Challenge #7/invoices.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://salesforce.com/th/invoice-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://salesforce.com/th/invoice-web-service" targetNamespace="http://salesforce.com/th/invoice-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://salesforce.com/th/invoice-web-service">


    <xs:element name="billProjectRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="project" type="tns:project"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="billProjectResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<!--
username, string, 25
password, string, 25
projectId, string, 18
billAmount, double
-->
    <xs:complexType name="project">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="projectid" type="xs:string"/>
            <xs:element name="billAmount" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="billProjectRequest">
    <wsdl:part element="tns:billProjectRequest" name="billProjectRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="billProjectResponse">
    <wsdl:part element="tns:billProjectResponse" name="billProjectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InvoicesPort">
    <wsdl:operation name="billProject">
      <wsdl:input message="tns:billProjectRequest" name="billProjectRequest">
    </wsdl:input>
      <wsdl:output message="tns:billProjectResponse" name="billProjectResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoicesPortSoap11" type="tns:InvoicesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="billProject">
      <soap:operation soapAction=""/>
      <wsdl:input name="billProjectRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="billProjectResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoicesPortService">
    <wsdl:port binding="tns:InvoicesPortSoap11" name="InvoicesPortSoap11">
      <soap:address location="http://sb-integration-bs.herokuapp.com:80/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>